### Dependencies

In [4]:
# need to install 
# pip install sqlalchemy
# pip install psycopg2

import pandas as pd
import matplotlib.pyplot as plt
from config import username, password

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Employees_db')
connection = engine.connect()

### Import the employees table

In [7]:
employees_df = pd.read_sql('select * from employees', connection)

In [8]:
employees_df.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18